.featers {
    padding: clamp(2rem, -0.182rem + 10.91vw, 8rem);
}

.futers__header {
    margin-bottom: clamp(1.25rem, 0.682rem + 2.84vw, 2.813rem);

}

.fuaters__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 20px;
}


@media (max-width: 998px) {
    .fuaters__grid {
        gap: 10px;
    }
}
@media (max-width: 480px) {
    .fuaters__grid {
    grid-template-columns: 1fr ;
        row-gap: 30px;
    }

}

