.story {
    margin-bottom: clamp(1.875rem, 1.75rem + 8.33vw, 8rem);
}
.story__header {
    text-align: left;
    margin-bottom:clamp(1.25rem, 0.341rem + 4.55vw, 3.75rem);
    padding-bottom: clamp(2rem, 1.878rem + 8.16vw, 8rem);
}

.story__header-title-wrapper {
    padding-top: 36px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.story__header-desc {
    max-width: 334px;
    font-weight: 400;
    font-size: clamp(0.875rem, 0.87rem + 0.34vw, 1.125rem);
    color:var(--subtext-color);
}

.story__grid {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 20px;
}

@media (max-width: 768px) {
    .story__header-title-wrapper {
        padding-top: 16px;
        
        flex-direction: column;
    }

    .story__header-desc {
        max-width: unset;
    }

}

@media (max-width: 480px) {
    .story__grid {
    display: grid;
    grid-template-columns: 1fr ;
}

}