.footer__top {
    display: grid;
    grid-template-columns: 425px 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "logo company resource career help";
    gap: 40px;

    padding-bottom: 40px;


}
.footer__content__logo {
    grid-area: logo;

}
.footer__content__wrapper {
    display: flex;
    flex-direction: column;

    grid-area: links;

}
.content__wrapper__title {
    margin-bottom: 24px;
    font-weight: 400;
    font-size: clamp(1rem, 0.997rem + 0.17vw, 1.125rem);
    color: var(--background-color1);

}
.content__wrapper__link {
    margin-bottom: 16px;
    font-weight: 400;
    font-size: clamp(1rem, 0.997rem + 0.17vw, 1.125rem);
    color: var(--white-transparent1);
    transition: color 0.3s ease;

}

.content__wrapper__link:hover {
    color: var(--secondary-color);

}

.footer__content__logo { grid-area: logo; }
.company { grid-area: company; }
.resource { grid-area: resource; }
.career { grid-area: career; }
.help { grid-area: help; }


@media (max-width: 1170px) {
    .footer__top {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "logo logo logo logo"
            "company resource career help"
    }
}

@media (max-width: 634px) {
    .footer__top {
        grid-template-columns: 1fr 1fr ;
        grid-template-areas:
            "logo logo "
            "company resource"
            "career help"
    }
}

@media (max-width: 454px) {
    .footer__top {
        grid-template-columns: 1fr  ;
        grid-template-areas:
            "logo"
            "company"
            "resource"
            "career"
            "help";
    }
}