.section-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-title__tag {
    display: inline-block;
    margin-bottom: 16px;

    padding: 10px 20px;

    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: var(--primary-color);
    background: var(--background-color2);
}
.section-title__title {
    text-align: center;
    font-weight: 400;
    font-size: clamp(2rem, 1.364rem + 3.18vw, 3.75rem);
    text-transform: capitalize;
    color: var(--primary-color);

}